<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bug-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,287},{60,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,81}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>bug-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,699},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,77}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>bug-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,204},{60,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,81}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>bug-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,753},{60,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,77}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>bug-1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,643},{62,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>bug-1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,687},{64,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,89}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>bug-1-d-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,707},{69,85}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{69,85}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,602},{103,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{103,95}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,505},{103,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{103,95}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{105,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{105,95}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,406},{105,97}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{105,97}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,505},{105,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{105,95}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,406},{105,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{105,97}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,305},{105,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{105,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{105,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{105,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,404},{107,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{107,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,305},{107,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{107,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,697},{69,85}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{69,85}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{107,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{107,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,204},{109,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{109,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,204},{109,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{109,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,305},{109,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{109,97}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{109,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{109,101}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,204},{111,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,103},{111,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,103},{111,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{111,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,103},{111,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,457},{69,85}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{69,85}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{113,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{113,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,101}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,101}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,370},{69,85}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{69,85}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,602},{83,97}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{83,97}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,544},{83,97}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{83,97}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,602},{93,99}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{93,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{93,99}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{93,99}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>bug-1-d-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,505},{103,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{103,95}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bug-1.png</string>
            <key>size</key>
            <string>{512,815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f4f414633475f4a1382bd17b0275211$</string>
            <key>textureFileName</key>
            <string>bug-1.png</string>
        </dict>
    </dict>
</plist>
