<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bug-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,478},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>bug-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,548},{66,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>bug-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,472},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>bug-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,524},{66,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>bug-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{91,91}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>bug-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,91},{101,87}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>bug-2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,472},{91,91}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>bug-2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{101,87}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>bug-2-d-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{87,97}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,239},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,239},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,160},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,160},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,81},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,81},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,269},{87,97}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,77}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{133,77}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,180},{87,97}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,441},{115,81}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{115,81}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,395},{115,81}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{115,81}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,358},{115,81}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{115,81}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,395},{127,75}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{127,75}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{127,75}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{127,75}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
            <key>bug-2-d-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,318},{127,75}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{127,75}}</string>
                <key>sourceSize</key>
                <string>{133,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bug-2.png</string>
            <key>size</key>
            <string>{512,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf813db990313df600c9d888251b38fc$</string>
            <key>textureFileName</key>
            <string>bug-2.png</string>
        </dict>
    </dict>
</plist>
