<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comic-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2058,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2058,720}}</string>
                <key>sourceSize</key>
                <string>{2058,720}</string>
            </dict>
            <key>comic-skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2062},{202,90}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{202,90}}</string>
                <key>sourceSize</key>
                <string>{206,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comic.png</string>
            <key>size</key>
            <string>{724,2154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2de60cd69a2fc7960a198c46b5d5df8$</string>
            <key>textureFileName</key>
            <string>comic.png</string>
        </dict>
    </dict>
</plist>
