<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>main-cake.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{115,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{115,94}}</string>
                <key>sourceSize</key>
                <string>{123,102}</string>
            </dict>
            <key>main-flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{1280,376}}</string>
                <key>offset</key>
                <string>{0,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,344},{1280,376}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>main-hp-cake-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>main-hp-cake-injured.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>main-score-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1531,1102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc5fb6681bc110bb9e07e4ed6a04225f$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
