<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu-bakground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>menu-seting-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{251,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,148}}</string>
                <key>sourceSize</key>
                <string>{251,148}</string>
            </dict>
            <key>menu-seting-press.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{251,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,148}}</string>
                <key>sourceSize</key>
                <string>{251,148}</string>
            </dict>
            <key>menu-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,72}}</string>
                <key>sourceSize</key>
                <string>{222,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{728,1434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fba8aa6c22649712f3d08a3f144bb7cd$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
