<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>end-menu-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{157,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,64}}</string>
                <key>sourceSize</key>
                <string>{157,64}</string>
            </dict>
            <key>end-menu-press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,64}}</string>
                <key>sourceSize</key>
                <string>{157,64}</string>
            </dict>
            <key>end-playagain-default.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{125,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,85}}</string>
                <key>sourceSize</key>
                <string>{125,85}</string>
            </dict>
            <key>end-playagain-press.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{125,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,85}}</string>
                <key>sourceSize</key>
                <string>{125,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>end.png</string>
            <key>size</key>
            <string>{724,1371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67892966130a3341d07067e76b0df42f$</string>
            <key>textureFileName</key>
            <string>end.png</string>
        </dict>
    </dict>
</plist>
